*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.circle{
  width: 30px;
  height: 30px;
  color: black;
  background-color: rgb(5, 69, 125);
  font-weight: 600;
  gap: 100;
 border-radius: 50%;
}